# dir
node_modules/
.ipynb_checkpoints/
__pycache__/

# file
*.lock
*.log
package-lock.json
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
